extends ../layouts/common
block content
  h3.my-3 Update Book
  form(method="post", action="/books/update/"+book.id, id="update-book", enctype="multipart/form-data")
    div.form-group
      label(for="title") Title
      input.form-control(name="title", id="title", value=book.title)
    div.form-group 
      label(for="description") Description
      textarea.form-control(name="description", id="description", form="update-book")= book.description
    div.form-group
      lable(for='cover') Cover
      input.form-control-file(type="file", name="cover", id="cover")
    button.btn.btn-primary Update