extends layouts/common
block content
  .d-flex.flex-column.align-items-center.mt-5
    div.font-weight-bold This Content Isn't Available Right Now 
    div When this happens, it's usually because the owner only shared it with a small group of people, changed who can see it or it's been deleted.
    div.m-3
      a.btn.btn-primary(href="/") Go to Home page
    