extends layouts/common
block content
  link(rel='stylesheet' href='/error.css')
  #error
    .error
      .error-wrap
        h1 Oops!
        h2 500 - Our server is on a break
      a(href='/') Go TO Homepage